@import '../../app.component.scss';

@keyframes spin {
  from {
    transform: rotate(0deg);
  } to {
    transform: rotate(360deg);
  }
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 60px;

  .logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 7px;
    font-size: 1.25rem;

    img {
      height: 25px;
      margin-bottom: 2px;
    }
  }

  .links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    img {
      width: 30px;
      border-radius: 100vw;
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 60px 20px 200px 20px;
  gap: 10px;
  max-width: 1100px;
  margin: 0 auto;

  .button-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 10px;
    margin-top: 10px;

    .spinner {
      height: 15px;
      width: 15px;
      border: 1px solid rgba($text, 0.2);
      border-top: 1px solid rgba($text, 0);
      border-radius: 100%;
      animation: spin 1s linear infinite;
    }
  }

  .section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    width: 100%;

    .title {
      font-weight: bold;
      margin-top: 40px;
      width: 100%;

      em {
        font-style: normal;
        color: rgba($text, 0.5);
      }
    }

    .playlist-title {
      all: unset;
      font-size: max(4rem, 4vw);
      font-weight: bold;
      width: 100%;
      box-sizing: border-box;
      background: rgba($text, 0.1);
      padding: 10px;
      font-family: 'neue-haas-grotesk-display', serif;
      margin-top: 40px;
      backdrop-filter: blur(10px);
      border-radius: 5px;
      overflow: hidden;
      resize: none;
      text-wrap: wrap;
      height: 77px;
    }

    .playlist-description {
      all: unset;
      width: 100%;
      box-sizing: border-box;
      background: rgba($text, 0.1);
      padding: 8px 10px;
      backdrop-filter: blur(10px);
      border-radius: 5px;
      height: 30px;
    }

    .search-bar {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 8px 12px;
      gap: 8px;
      background: rgba($text, 0.1);
      width: 300px;
      border-radius: 5px;
      backdrop-filter: blur(10px);
  
      p {
        opacity: 0.5;
      }
  
      input {
        all: unset;
      }
  
      &:hover {
        cursor: text;
      }
    }

    .subsection {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 10px;
      width: 100%;
    }

    .tracks {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      width: 100%;

      .index {
        color: rgba($text, 0.5);
        width: 20px
      }
  
      .track {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        width: 100%;
        padding: 8px 0;
        border-top: 1px solid rgba($text, 0.15);

        &:last-child {
          border-bottom: 1px solid rgba($text, 0.15);
        }
  
        .image {
          height: 35px;
          width: 35px;
        }
  
        img {
          height: 35px;
          border-radius: 3px;
        }
        
        .name {
          display: flex;
          flex-direction: column;
          line-height: 1.2;
          text-wrap: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          width: 50%;
          padding: 2px 0;

          p {
            text-wrap: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }
  
          span {
            color: rgba($text, 0.5);
            font-size: 0.8rem;
          }
        }

        .album {
          // width: 50%;
          flex-grow: 1;
          opacity: 0.5;
          text-wrap: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
      }
    }

    .length {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 10px;

      input {
        all: unset;
        padding: 6px 8px;
        background: rgba($text, 0.1);
        width: 50px;
        border-radius: 5px;
      }

      em {
        font-style: normal;
        color: rgba($text, 0.5);
      }
    }

    .parameters {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 10px;

      .parameter {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 10px;
        background: rgba($text, 0.05);
        gap: 10px;
        width: 155px;
        border-radius: 5px;
        cursor: pointer;
        backdrop-filter: blur(10px);

        p, input {
          opacity: 0.3;
        }
          
        .checkbox {
          width: 1rem;
          height: 1rem;
          background: $bg;
          border: 2px solid $bg;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 100%;
        }

        .row {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          width: 100%;
        }

        input {
          width: 100%;
          -webkit-appearance: none;
          appearance: none;
          cursor: pointer;
          height: 12px;
          background: none;

          &::-webkit-slider-runnable-track {
            height: 0px;
            border: 1px solid rgba($text, 0.25);
          }

          &::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            margin-top: -6px;
            background-color: $text;
            height: 12px;
            width: 12px;
            border-radius: 100%;
          }
        }

        &.on {
          background: rgba($text, 0.1);
          .checkbox {
            background: $accent;
          }
          p, input {
            opacity: 1;
          }
        }
      }
    }

    .playlists {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      width: 100%;
      max-width: 400px;
  
      .playlist {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        width: 100%;
        padding: 8px 0;
        border-top: 1px solid rgba($text, 0.15);

        .name {
          flex-grow: 1;

          .playlist-name {
            font-weight: bold;
            line-height: 1.75;
          }

          .description {
            color: rgba($text, 0.5);
            font-size: 0.8rem;
          }
        }

        .link {
          width: 88px;
        }
      }

      &:last-child {
        border-bottom: 1px solid rgba($text, 0.15);
      }
    }
  }
}